.full{
    font-family: 'Roboto', sans-serif;
    color:  #5B5B5B;
}

.topic{
    font-size:30px;
    padding: 50px 0 30px 0;
}

.h4{
    transition: all .1s ease-in-out;
    font-weight: bold;
}

.h4:hover{
    transform: scale(1.1);
    padding: 0px 0px 0px 20px;

}

.numb{
    font-size: 20px;
    color: chocolate;
    font-weight: bolder;
    text-align: center;
}